default linux
label linux
  kernel vmlinuz
  append initrd=initrd.gz boot=casper LIVE_BOOTAPPEND
label memtest
  kernel memtest
display isolinux.txt
timeout 0
prompt 1
f1 f1.txt
f3 f3.txt
f4 f4.txt
f8 f8.txt
f9 f9.txt
f0 f10.txt
