<br />

<h3>Your build 'BUILD' was recorded and will processed soon. Depending on the options you have selected, the build takes about between 5 and 20 minutes. You will be notified by email when the attempt has completed.</h3>

<h3>Your build will be available at: <a href="SERVER/BUILD/">SERVER/BUILD/</a>.</h3>

<fieldset>

<legend><b>Options</b></legend>

<b>Standard options</b>

<table>
	<tr><td>Email: </td><td>EMAIL</td></tr>
	<tr><td>--binary-image: </td><td>LH_BINARY_IMAGES</td></tr>
	<tr><td>--distribution: </td><td>LH_DISTRIBUTION</td></tr>
	<tr><td>--packages-lists: </td><td>LH_PACKAGES_LISTS</td></tr>
	<tr><td>--packages: </td><td>LH_PACKAGES</td><tr>
</table>

<b>Advanced bootstrap options</b>

<table>
	<tr><td>--architecture: </td><td>LH_ARCHITECTURE</td></tr>
	<tr><td>--bootstrap-flavour: </td><td>LH_BOOTSTRAP_FLAVOUR</td></tr>
	<tr><td>--mirror-bootstrap: </td><td>LH_MIRROR_BOOTSTRAP</td></tr>
	<tr><td>--mirror-binary: </td><td>LH_MIRROR_BINARY</td></tr>
	<tr><td>--mirror-binary-security: </td><td>LH_MIRROR_BINARY_SECURITY</td></tr>
	<tr><td>--archive-areas: </td><td>LH_ARCHIVE_AREAS</td></tr>
</table>

<b>Advanced chroot options</b>

<table>
	<tr><td>--chroot-fileystem: </td><td>LH_CHROOT_FILESYSTEM</td></tr>
	<tr><td>--linux-flavours: </td><td>LH_LINUX_FLAVOURS</td></tr>
	<tr><td>--security: </td><td>LH_SECURITY</td></tr>
	<tr><td>--symlinks: </td><td>LH_SYMLINKS</td></tr>
	<tr><td>--sysvinit: </td><td>LH_SYSVINIT</td></tr>
</table>

<b>Advanced binary options</b>

<table>
	<tr><td>--binary-indices: </td><td>LH_BINARY_INDICES</td></tr>
	<tr><td>--bootappend: </td><td>LH_BOOTAPPEND</td></tr>
	<tr><td>--bootloader: </td><td>LH_BOOTLOADER</td></tr>
	<tr><td>--debian-installer: </td><td>LH_DEBIAN_INSTALLER</td></tr>
	<tr><td>--encryption: </td><td>LH_ENCRYPTION</td></tr>
	<tr><td>--iso-application: </td><td>LH_ISO_APPLICATION</td></tr>
	<tr><td>--iso-preparer: </td><td>LH_ISO_PREPARER</td></tr>
	<tr><td>--iso-publisher: </td><td>LH_ISO_PUBLISHER</td></tr>
	<tr><td>--iso-volume: </td><td>LH_ISO_VOLUME</td></tr>
	<tr><td>--memtest: </td><td>LH_MEMTEST</td></tr>
	<tr><td>--net-path: </td><td>LH_NET_ROOT_PATH</td></tr>
	<tr><td>--net-server: </td><td>LH_NET_ROOT_SERVER</td></tr>
	<tr><td>--username: </td><td>LH_USERNAME</td></tr>
</table>

<b>Advanced source options</b>

<table>
	<tr><td>--source: </td><td>LH_SOURCE</td></tr>
	<tr><td>--source-images: </td><td>LH_SOURCE_IMAGES</td></tr>
</table>

</fieldset>

<br />

<h3>Thank you for your submission.</h3>
