<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
	<head>
		<title>Debian Live Webhelper</title>
		<link rel="icon" href="http://debian-live.alioth.debian.org/favicon.ico" type="image/ico">
		<link rel="stylesheet" type="text/css" href="http://debian-live.alioth.debian.org/images/style.css" />
		<meta http-equiv="content-type" content="text/html; charset=iso-8859-15">
		<meta name="keywords" content="Debian, Live, Project">
		<meta name="description" content="The Debian Live Project">

		<style type="text/css">
			label { cursor:pointer; }
		</style>

		<script type="text/javascript" language="JavaScript">
			function collapse(x, txt)
			{
				var oTemp=document.getElementById("text_"+x);
				var oClick=document.getElementById("click_"+x);
				if (oTemp.style.display=="block")
				{
					oTemp.style.display="none";
					oClick.innerHTML=txt+"&nbsp<small>(click to expand)<\/small><br \/>";
				}
				else
				{
					oTemp.style.display="block";
					oClick.innerHTML=txt+"&nbsp<small>(click to collapse)<\/small><br \/>";
				}
			}
		</script>
	</head>
<body>

<div id="header">
	<div id="debianlogo"><img src="http://debian-live.alioth.debian.org/images/debian.png" alt="Debian logo" width="56" height="70"></div>
	<div id="headertitle"><a href="http://debian-live.alioth.debian.org/" title="http://debian-live.alioth.debian.org/">Debian Live</a></div>
	<div id="headersubtitle">Live Debian systems!</div>
</div>

<div id="maincontent" style="margin: 0 0 0 0;">
	<h1>This is webhelper of the <a href="http://debian-live.alioth.debian.org/">Debian Live</a> project.</h1>
</div>
