      <hr />

      <footer>
        <p><div class="muted">2006-2014 <a class="muted" href="mailto:debian-live@lists.debian.org?subject=Live Systems Project:%20Feedback">Live Systems Project</a> <a class="muted pull-right" href="http://live-systems.org/project/legal/">Legal Information</a></p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://live-systems.org/stuff/jquery/jquery.min.js"></script>
    <script src="http://live-systems.org/stuff/bootstrap/js/bootstrap.min.js"></script>
    <script src="http://live-systems.org/stuff/bootstrap/table.js"></script>
  </body>
</html>
