<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Live Systems Project">
    <meta name="author" content="Live Systems Project <debian-live@lists.debian.org>">
    <!-- <meta name="keywords" content="Live Systems, free software, open source software, Debian, GNU, Linux"> -->
    <link rel="shortcut icon" href="http://live-systems.org/images/logo-32.png">

    <title>Live Systems Project</title>

    <!-- Bootstrap core CSS -->
    <link href="http://live-systems.org/stuff/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://live-systems.org/stuff/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="http://live-systems.org/stuff/bootstrap/navbar.css" rel="stylesheet">
    <link href="http://live-systems.org/stuff/bootstrap/label.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="http://live-systems.org/stuff/html5shiv/html5shiv.min.js"></script>
      <script src="http://live-systems.org/stuff/respond/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript" language="JavaScript">
      function collapse(x, txt) {
        var oTemp=document.getElementById("text_"+x);
        var oClick=document.getElementById("click_"+x);
        if (oTemp.style.display=="block") {
          oTemp.style.display="none";
          oClick.innerHTML=txt+"&nbsp<small>(click to expand)<\/small><br \/>";
        }
        else {
          oTemp.style.display="block";
          oClick.innerHTML=txt+"&nbsp<small>(click to collapse)<\/small><br \/>";
        }
      }
    </script>
  </head>

  <body>

    <div class="container">

      <!-- Static navbar -->
      <div class="navbar navbar-default">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><strong>Live</strong> Systems</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="/">Build</a></li>
            <li><a href="http://live-systems.org/">WWW</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
