Source: live-package
Section: misc
Priority: optional
Maintainer: Daniel Baumann <daniel@debian.org>
Uploaders: Marco Amadori <marco.amadori@gmail.com>
Build-Depends: debhelper (>= 4)
Standards-Version: 3.7.2

Package: live-package
Architecture: all
Depends: cdebootstrap (>= 0.3.10), dpkg-dev, genext2fs, mkisofs, squashfs-tools
Provides: make-live
Description: utility to build Debian Live systems
 The Debian Live framework provides all necessary tools to create Debian Live
 systems. make-live is the utility used to automagically build CD/DVD images and
 netboot tarballs.
 .
  Homepage: <http://live.debian.net/>
