Source: live-build
Section: misc
Priority: optional
Maintainer: Live Systems Maintainers <debian-live@lists.debian.org>
Uploaders:
 Daniel Baumann <mail@daniel-baumann.ch>,
Build-Depends:
 debhelper (>= 9),
Standards-Version: 3.9.6
Homepage: http://live-systems.org/devel/live-build/
Vcs-Browser: http://live-systems.org/gitweb/?p=live-build.git
Vcs-Git: git://live-systems.org/git/live-build.git

Package: live-build
Architecture: all
Depends:
 debootstrap,
 ${misc:Depends},
Recommends:
 apt-utils,
 cpio,
 live-boot-doc,
 live-config-doc,
 live-manual-html | live-manual,
 wget,
Suggests:
 debian-keyring,
 gpgv,
Description: Live System Build Components
 The Live Systems project maintains the components to build Debian based Live
 systems and the official Debian Live images themselves.
 .
 live-build contains the components to build a live system from a configuration
 directory.
