#!/usr/bin/make -f

%:
	dh ${@}

override_dh_auto_clean:
	$(MAKE) -C po clean

override_dh_auto_build:
	$(MAKE) -C po update-po

override_dh_auto_install:
	dh_auto_install

	$(MAKE) -C po install DESTDIR=$(CURDIR)/debian/live-helper

	# Removing double files
	rm -f debian/live-helper/usr/share/doc/live-helper/COPYING
	rm -f debian/live-helper/usr/share/doc/live-helper/ChangeLog
	mv debian/live-helper/usr/share/doc/live-helper/ChangeLog.live-package debian/live-helper/usr/share/doc/live-helper/changelog.live-package
	mv debian/live-helper/usr/share/doc/live-helper/ChangeLog.live-webhelper debian/live-helper/usr/share/doc/live-helper/changelog.live-webhelper

override_dh_installchangelogs:
	dh_installchangelogs docs/ChangeLog
