#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

upstream:
	# Needs: subversion
	cd .. && svn co svn://svn.debian.org/debian-live/dists/trunk/live-helper || true
	find . -type d -name .svn | xargs rm -rf

build:

clean:
	dh_testdir
	dh_testroot

	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	# Installing package
	$(MAKE) install DESTDIR=$(CURDIR)/debian/live-helper

	install -m 644 debian/changelog.old debian/live-helper/usr/share/doc/live-helper/changelog.Debian.old

	# Removing double files
	rm -f debian/live-helper/usr/share/doc/live-helper/COPYING
	rm -f debian/live-helper/usr/share/doc/live-helper/ChangeLog
	mv debian/live-helper/usr/share/doc/live-helper/ChangeLog.old \
		debian/live-helper/usr/share/doc/live-helper/changelog.old

binary-arch: build install

binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs doc/ChangeLog
	dh_installdocs
	dh_install
	dh_installman
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
