# /etc/crontab - system-wide crontab

SHELL=/bin/sh
PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin

# m  h dom mon dow user command
*/10 * *   *   *   user /usr/share/doc/live-helper/examples/cron/manpages.sh > /dev/null 2>&1
*/10 * *   *   *   user /usr/share/doc/live-helper/examples/cron/snapshots.sh > /dev/null 2>&1
